---
const { posts, showDescriptions = true, compact = false } = Astro.props;

const formatDate = (date: Date) =>
  new Intl.DateTimeFormat('zh-CN', {
    year: 'numeric',
    month: '2-digit',
    day: '2-digit',
  }).format(date);
---

<ol class:list={['article-index', compact && 'article-index-compact']}>
  {posts.map((post, index) => (
    <li>
      <a
        class="article-row group"
        href={`/posts/${post.slug}`}
      >
        <span class="article-row-number">
          {String(index + 1).padStart(2, '0')}
        </span>
        <span class="article-row-date">
          {formatDate(post.data.date)}
        </span>
        <span class="article-row-category">
          {post.data.category}
        </span>
        <span class="article-row-title">
          {post.data.title}
        </span>
        {showDescriptions && (
          <span class="article-row-description">
            {post.data.description}
          </span>
        )}
      </a>
    </li>
  ))}
</ol>
